NEXT_PUBLIC_SUPABASE_URL=https://xvjhnnvxeuacijvbtwfg.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_TZA4U-vo-U51JW3p4FpDtw_S_pcIgNb
NEXT_PUBLIC_API_BASE_URL=http://localhost:4002
NEXT_PUBLIC_API_BASE=http://localhost:4002
