@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gold: #c9a84c;
  --gold-l: #e8c97a;
  --gold-d: #8b6914;
  --bg: #fffef9;
  --text: #1a1814;
}

html {
  direction: rtl;
}

body {
  background: var(--bg);
  color: var(--text);
}
