PORT=4001
SUPABASE_URL=https://xvjhnnvxeuacijvbtwfg.supabase.co
SUPABASE_ANON_KEY=sb_publishable_TZA4U-vo-U51JW3p4FpDtw_S_pcIgNb
OPENAI_API_KEY=

# Firebase Admin (اختياري)
FIREBASE_PROJECT_ID=
FIREBASE_CLIENT_EMAIL=
FIREBASE_PRIVATE_KEY=
